$chatBlue: #3a8af8;
$chatGrey: #e5e5e9;
$chatHeader: #f7f4f8;
$chatBorder: #dad7db;

$hoverBlue: #95bff8;

$offWhiteBackground: #f9f9fa;

$darkBlue: #2c3e50;

$khaki: #B0A990;

$gold: #F3C677;

$bodyFont: 'Roboto', sans-serif !important;
$titleFont: 'Lato', sans-serif !important;